.app {
    color: white;
}

.title {
    font-size: 42px;
    color: yellow;
    margin: 20px 0;
    font-family: "Press Start 2P", system-ui;
}

.logo img {
    width: 100%;
    margin: 10px 0;
}

.logo {
    position: relative;
    display: inline-block;
}

.text-overlay-create-room-page {
    font-size: 35px !important;
}

.section {
    margin: 40px 0;
}

.section h2 {
    margin-bottom: 20px;
    color: #ffffff;
    font-size: 22px;
    text-shadow: 0 0 12px rgba(255, 255, 255, 0.8);
    font-family: "Press Start 2P", system-ui;

}

.section p {
    margin-bottom: 20px;
    font-size: 18px;
    color: #b9aeae;
    text-shadow: 0 0 15px rgba(255, 255, 255, 0.8);
}

.tokens button,
.timeouts button {
    margin: 5px;
    padding: 10px 20px;
    border: none;
    background: #444;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Press Start 2P", system-ui;
}

.tokens button.active,
.timeouts button.active {
    background: yellow;
    color: black;
    font-family: "Press Start 2P", system-ui;
}

input {
    padding: 10px;
    width: 100px;
    text-align: center;
    font-family: "Press Start 2P", system-ui;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 8px;
    outline: none;
    margin-top: 10px;
    transition: border-color 0.3s, box-shadow 0.3s;
}