* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  font-family: Arial, sans-serif;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-image: url('/public/background.webp');
}

.logo img {
  width: 100% !important;
}

.app {
  text-align: center;
  padding: 20px;
}

.header {
  height: auto !important;
  width: auto !important;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0088cc;
  color: white;
  padding: 15px;
  text-align: center;
  border-radius: 8px;
  margin: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.logo img {
  width: 100px;
  margin: 10px 0;
}

.rooms, .archive {
  margin: 20px 0;
}

h2 {
  color: #ffffff;
}

.tagRooms {
  color: #ffffff;
  text-align: start;
  font-size: 22px;
}

.room-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin: 10px 0;
}

.room-card img {
  height: 60px; /* Высота изображения */
  width: 60px; /* Ширина изображения */
  border: 3px solid white; /* Белая рамка с толщиной в 1px */
  border-radius: 8px; /* Скругленные углы (опционально) */
  object-fit: cover; /* Убедимся, что изображение заполняет рамку */
  display: block; /* Убираем лишние пробелы под изображением */
  background-color: #f0f0f0; /* Фон вокруг изображения, если оно отсутствует (опционально) */
}


.room-info {
  flex-grow: 1;
  text-align: left;
  margin-left: 10px;
}

.room-name, .room-money, .room-time{
  margin: 0;
  font-size: 18px;
  color: #ffffff;
}

.room-players {
  margin: 5px 0;
  color: #b9aeae;
}

.create-room-button {
  position: fixed;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ff0000;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 22px;
  cursor: pointer;
}

.create-room-button:hover {
  background-color: #005f99;
}
