@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Press+Start+2P&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-image: url('/public/background.webp');
}

.logo img {
  width: 100% !important;
}

.app {
  text-align: center;
  padding: 20px;
}

.header {
  height: auto !important;
  width: auto !important;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0088cc;
  color: white;
  padding: 15px;
  text-align: center;
  border-radius: 8px;
  margin: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.logo img {
  width: 100px;
  margin: 10px 0;
}

.rooms, .archive {
  margin: 20px 0;
}

.grayLabel {
  color: #7e7878;
}

.tagRooms {
  color: #ffffff;
  text-align: start;
  font-size: 22px;
  text-shadow: 0 0 12px rgba(255, 255, 255, 0.8); /* Белая тень */
  font-family: "Press Start 2P", system-ui;
}

.room-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin: 10px 0;
}

.room-card img {
  height: 70px; /* Высота изображения */
  width: 70px; /* Ширина изображения */
  border: 3px solid white; /* Белая рамка с толщиной в 1px */
  border-radius: 8px; /* Скругленные углы (опционально) */
  object-fit: cover; /* Убедимся, что изображение заполняет рамку */
  display: block; /* Убираем лишние пробелы под изображением */
  background-color: #f0f0f0; /* Фон вокруг изображения, если оно отсутствует (опционально) */
}

.room-info2 {
  display: flex;
  flex-grow: 1;
  align-items: center;
  text-align: left;
}

.room-info2 p {
  margin-right: 5px;
}

.room-info2 p:first-child {
  color: white;
}

.room-info {
  flex-grow: 1;
  text-align: left;
  margin-left: 10px;
}

.room-name{
  margin: 0;
  font-size: 18px;
  color: #ffffff;
  text-shadow: 0 0 15px rgba(255, 255, 255, 0.8); /* Белая тень */
}

.room-money, .room-time{
  text-align: end;
  margin: 0;
  font-size: 18px;
  color: #ffffff;
  text-shadow: 0 0 25px rgba(255, 255, 255, 0.8); /* Белая тень */
}

.room-players {
  margin: 5px 0;
  color: #b9aeae;
}

.pushable {
  position: fixed;
  bottom: 40px;
  left: 50%;
  transform: translate(-50%, -50%);
  background: hsl(340deg 100% 32%);
  border-radius: 12px;
  border: none;
  cursor: pointer;
  outline-offset: 4px;
}
.front {
  bottom: 40px;
  left: 50%;
  display: block;
  padding: 12px 42px;
  border-radius: 12px;
  font-size: 1.1rem;
  background: hsl(345deg 100% 47%);
  color: white;
  transform: translateY(-6px);
  font-family: "Press Start 2P", system-ui;
}

.pushable:active .front {
  transform: translateY(-2px);
}