@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Press+Start+2P&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-image: url('/public/background.webp');
}

.logo img {
  width: 100% !important;
}

.app {
  text-align: center;
  padding: 20px;
}

.header {
  height: auto !important;
  width: auto !important;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0088cc;
  color: white;
  padding: 15px;
  text-align: center;
  border-radius: 8px;
  margin: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.logo img {
  width: 100px;
  margin: 10px 0;
}